@charset (utf-8);

/* Typical Device Breakpoint
----------------------------
pequenas telas: até 600px
celular: até 768px
tablet: 768px até 992px
Destktop: 992 até 1200px
grandes telas: acima de 1200px
*/

@media print { /* IMPRESSÃO */

}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

}

@media screen and (nin-width: 992px) and (max-width: 1200px) { /* DESTKTOP */

}

@media screen and (nin-width: 1200px) { /* GRANDES TELAS */

}